Repository Nikola-Milovic/omnidev: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format, test

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun run lint:check
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bun run format:check
    test:
      glob: "*.{ts,tsx}"
      run: bun test ./packages/ --bail

pre-push:
  commands:
    test:
      glob: "*.{ts,tsx}"
      run: bun run test:all

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

refactor: move bundled workspace deps to devDependencies in CLI
  packages/cli/package.json
  scripts/publish.mjs
Due: lint, format

fix: remove ignored workspace deps from CLI to fix changeset
  .changeset/versioning-improvements.md
  packages/cli/package.json
Due: lint, format

fixing new setup
  bun.lock
  packages/cli/bunup.config.ts
  packages/cli/package.json
Due: typecheck, lint, format, test

chore: bump
  .changeset/config.json
  .changeset/plenty-plums-sip.md
Due: lint, format

fix: add provenance to npm publish
  scripts/publish.mjs
Due: none

fix: improve ci setup and failing workflows
  .changeset/six-insects-work.md
  .github/workflows/ci.yml
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/add.test.ts
  packages/core/src/capability/sources.ts
Due: typecheck, lint, format, test

feat(docs): simple redesign
  apps/docs/astro.config.mjs
  apps/docs/public/favicon.png
  apps/docs/public/favicon/android-chrome-192x192.png
  apps/docs/public/favicon/android-chrome-512x512.png
  apps/docs/public/favicon/apple-touch-icon.png
  apps/docs/public/favicon/favicon-16x16.png
  apps/docs/public/favicon/favicon-32x32.png
  apps/docs/public/favicon/favicon-96x96.png
  apps/docs/public/favicon/favicon.ico
  apps/docs/public/favicon/site.webmanifest
  apps/docs/public/favicon/web-app-manifest-192x192.png
  apps/docs/public/favicon/web-app-manifest-512x512.png
  apps/docs/public/logo.png
  apps/docs/public/logo.svg
  apps/docs/src/components/CodeExample.astro
  apps/docs/src/components/ConfigSprawl.astro
  apps/docs/src/components/FeatureCard.astro
  apps/docs/src/components/Footer.astro
  apps/docs/src/components/Hero.astro
  apps/docs/src/components/ProviderGrid.astro
  apps/docs/src/components/QuickStart.astro
  apps/docs/src/components/Section.astro
  apps/docs/src/components/Terminal.astro
  apps/docs/src/content/docs/index.mdx
  apps/docs/src/styles/custom.css
Due: none

feat(hooks): add hooks.json support for Claude plugin wrapping
  .changeset/hooks-json-support.md
  apps/docs/src/content/docs/commands/add.md
  docs/provider-adapters.md
  examples/fixtures/claude-plugin/agents/plugin-agent.md
  examples/fixtures/claude-plugin/commands/plugin-command.md
  examples/fixtures/claude-plugin/hooks.json
  examples/fixtures/claude-plugin/hooks/scripts/session-start.js
  examples/fixtures/claude-plugin/rules/plugin-rules.md
  packages/cli/src/commands/add.ts
  packages/core/src/capability/loader.test.ts
  packages/core/src/capability/loader.ts
  packages/core/src/hooks/constants.ts
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/json-loader.ts
  packages/core/src/hooks/loader.ts
  packages/core/src/hooks/variables.ts
  tests/integration/cases/09-claude-plugin-wrapping.sh
Due: typecheck, lint, format, test

feat(codex): add MCP support via CodexTomlWriter
  .changeset/codex-mcp-support.md
  bun.lock
  packages/adapters/package.json
  packages/adapters/src/codex/index.ts
  packages/adapters/src/writers/codex-toml.test.ts
  packages/adapters/src/writers/codex-toml.ts
  packages/adapters/src/writers/index.ts
Due: typecheck, lint, format, test

fix(sync): always rebuild capabilities with build scripts
  .changeset/always-rebuild-capabilities.md
  TODO.md
  packages/core/src/sync.ts
Due: typecheck, lint, format, test

feat(add): validate GitHub repository before adding to omni.toml
  .changeset/validate-capability-before-add.md
  packages/cli/src/commands/add.test.ts
  packages/cli/src/commands/add.ts
  packages/core/src/capability/index.ts
  packages/core/src/capability/sources.ts
Due: typecheck, lint, format, test

test(integration): add agents and commands integration test
  README.md
  examples/fixtures/standard/commands/review-pr/COMMAND.md
  examples/fixtures/standard/subagents/code-reviewer/SUBAGENT.md
  tests/integration/README.md
  tests/integration/cases/10-agents-commands.sh
Due: format

feat(adapters): add Cursor support for agents and commands
  .changeset/agents-and-commands-writers.md
  README.md
  packages/adapters/src/cursor/index.ts
  packages/adapters/src/writers/cursor-agents.test.ts
  packages/adapters/src/writers/cursor-agents.ts
  packages/adapters/src/writers/cursor-commands.test.ts
  packages/adapters/src/writers/cursor-commands.ts
  packages/adapters/src/writers/index.ts
  tests/integration/cases/10-agents-commands.sh
Due: typecheck, lint, format, test

feat(adapters): add MCP support for Cursor provider
  .changeset/cursor-skills-path.md
  README.md
  examples/examples.test.ts
  packages/adapters/src/cursor/index.ts
  packages/adapters/src/writers/cursor-mcp-json.test.ts
  packages/adapters/src/writers/cursor-mcp-json.ts
  packages/adapters/src/writers/index.ts
Due: typecheck, lint, format, test

fix(core): prevent github source syncs resulting in history divergion
  .changeset/clever-dogs-march.md
  packages/core/src/capability/sources.ts
  packages/core/src/sync.ts
Due: typecheck, lint, format, test
